<% if params[:controller] == 'about'%>
    <div class="well">
        <h3>Location Info</h3>
        <ul>
            <li>The BookStore</li>
            <li>499 Massachusetts Ave, Unit 2</li>
            <li>Boston, MA 021110</li>
            <li>Phone: (254) 588-6666</li>
            <li>Email: shadman061@gmail.com</li>
        </ul>
    </div>
<% end %>

<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show'%>
    <div class="list-group">
        <% @categories.each do |category| %>
            <%= link_to category.name, category_path(category.id), class: 'list-group-item list-group-item-action' %>
        <% end %>
    </div>
<% end %>