<h2>Authors</h2>

<table class="table table-striped">
    <tr>
        <th>Authors Name</th>
        <th>Actions</th>
    </tr>

    <% @authors.each do |authors| %>
        <tr>
            <td><%= authors.first_name %> <%= authors.last_name %></td>
            <td><%= link_to 'Edit', edit_author_path(authors.id) %> | <%= link_to 'Delete',
                author_path(authors), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
</table>